@model Cliente
@{
    ViewData["Title"] = "Home Page";
}

<h1>Regístrate</h1>

<div class="card">
    <div class="card-body">
        <form asp-action="Registro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Identificacion" class="form-label"></label>
                <input asp-for="Identificacion" class="form-control" />
                <span asp-validation-for="Identificacion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <label asp-for="Apellido" class="form-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <label asp-for="IdCiudad" class="form-label"></label>
                <input asp-for="IdCiudad" class="form-control" />
                <span asp-validation-for="IdCiudad" class="text-danger"></span>

            </div>

            <button class="btn btn-primary">Registrar</button>

        </form>

    </div>

</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}